<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:aop="http://www.springframework.org/schema/aop"
       xmlns:context="http://www.springframework.org/schema/context"
       xmlns:mvc="http://www.springframework.org/schema/mvc"
       xmlns:lang="http://www.springframework.org/schema/lang"
       xmlns:tx="http://www.springframework.org/schema/tx"
       xmlns:util="http://www.springframework.org/schema/util"
       xmlns:p="http://www.springframework.org/schema/p"
       xmlns:s="http://www.springframework.org/schema/security"

       xsi:schemaLocation="http://www.springframework.org/schema/mvc http://www.springframework.org/schema/mvc/spring-mvc-3.0.xsd
          http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-3.0.xsd
          http://www.springframework.org/schema/aop http://www.springframework.org/schema/aop/spring-aop-3.0.xsd
          http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context-3.0.xsd
          http://www.springframework.org/schema/lang http://www.springframework.org/schema/lang/spring-lang-3.0.xsd
          http://www.springframework.org/schema/tx http://www.springframework.org/schema/tx/spring-tx-3.0.xsd
          http://www.springframework.org/schema/util http://www.springframework.org/schema/util/spring-util-3.0.xsd
          http://www.springframework.org/schema/security http://www.springframework.org/schema/security/spring-security-3.0.xsd">
       
    <context:annotation-config />

    <bean class="org.springframework.beans.factory.config.PropertyPlaceholderConfigurer">
        <property name="location" value="/WEB-INF/ldap.properties"/>
    </bean>


    <bean id="contextSource" class="org.springframework.security.ldap.DefaultSpringSecurityContextSource">
        <constructor-arg value="${ldap.url}"/>
    </bean>
    
    <bean id="operationalLdapTemplate" class="org.springframework.ldap.core.LdapTemplate" >
        <constructor-arg ref="contextSource" />    
    </bean>
    
    <bean id="nameHelper" class="org.archone.ad.naming.NameHelperImpl" >
        <constructor-arg index="0" value="ou=users" /> 
        <constructor-arg index="1" value="ou=groups" /> 
    </bean>
    
    <bean id="nameConvertor" class="org.archone.ad.naming.NameConvertorImpl" >
        <constructor-arg index="0" value="ou=users" /> 
        <constructor-arg index="1" value="ou=groups" /> 
    </bean>
    
    <bean id="userHelper" class="org.archone.ad.model.UserHelperImpl" />
    
    <bean id="displayAttributeHelper" class="org.archone.ad.schema.DisplayAttributeHelperImpl" init-method="init">
        <constructor-arg value="/WEB-INF/display-attributes.json" />
    </bean>
    
    <bean id="ldapConfiguration" class="org.archone.ad.schema.AdConfiguration" >
        <property name="ldapUrl" value="${ldap.url}" />
        <property name="userObjectClass" value="${ldap.user_object_class}" />
        <property name="groupObjectClass" value="${ldap.group_object_class}" />
    </bean>
    
    
    <bean id="shiroFilter" class="org.apache.shiro.spring.web.ShiroFilterFactoryBean">
        <property name="securityManager" ref="securityManager"/>
        <property name="filterChainDefinitions">
            <value>
            /guest.jsp = anon
            /rpc = anon
            /js/** = anon
            /** = authc
            </value>
        </property>
    </bean>
    
    
    <bean id="securityManager" class="org.apache.shiro.web.mgt.DefaultWebSecurityManager">
    <!-- Single realm app.  If you have multiple realms, use the 'realms' property instead. -->
        <property name="realm" ref="shoadRealm"/>
    <!-- By default the servlet container sessions will be used.  Uncomment this line
         to use shiro's native sessions (see the JavaDoc for more): -->
    <!-- <property name="sessionMode" value="native"/> -->
    </bean>
    <bean id="lifecycleBeanPostProcessor" class="org.apache.shiro.spring.LifecycleBeanPostProcessor"/>

<!-- Define the Shiro Realm implementation you want to use to connect to your back-end -->
<!-- security datasource: -->
    <bean id="shoadRealm" class="org.archone.ad.authentication.ShoadRealm" />
    
    <bean class="org.springframework.aop.framework.autoproxy.DefaultAdvisorAutoProxyCreator" depends-on="lifecycleBeanPostProcessor"/>
    <bean class="org.apache.shiro.spring.security.interceptor.AuthorizationAttributeSourceAdvisor">
        <property name="securityManager" ref="securityManager"/>
    </bean>
    
</beans>
